body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 12px;
    line-height: 20px;
}

.section {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Varela Round',sans-serif;
    color: #4d4d4d;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: 4;
}

.subheader {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 25px;
    line-height: 44px;
    font-weight: 500;
    letter-spacing: 0;
}

.section-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Varela Round',sans-serif;
    color: #4d4d4d;
    font-size: 30px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: 4;
}

.tldr {
    margin-top: 30px;
    margin-bottom: 3px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
}

.title-row {
    margin-top: 20px;
}

.base-row {
    margin-left: -10px;
    margin-right: -10px;
}

.base-col {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.author-row {
    height: 25px;
}

.author-col {
    width: 20%;
}

.author-text {
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

.text-star {
    position: relative;
    top: -7px;
    display: inline-block;
    margin: 0px;
    font-size: 10px;
}

#uc-berkeley {
    padding-top: 10px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0;
}

#equal-contrib {
    padding-top: 10px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.icon-col {
    width: 33.33333%;
}

.icon-img {
    max-width: 40%;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: auto;
    padding-top: 0px;
}

.github-img-icon {
    max-width: 20%;
    margin-top: 6px;
    margin-bottom: 9px;
    opacity: .77;
}

.data-img-icon {
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 9px;
    opacity: .62;
}

.link-block {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: -14px;
    margin-left: auto;
    text-align: center;
}

.link-labels {
    display: inline-block;
    width: 60%;
    margin-top: 5px;
}

.link-labels-text {
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 14px;
}

#main-video {
    width: 90%;
    /* max-width: 750px; */
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#body-video {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
}

#farm-video {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

#bear-video {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

#addtl-video {
    width: 100%;
    /* max-width: 750px; */
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#pipeline-img {
    width: 60%;
    max-width: 560px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#main-img {
    width: 100%;
    max-width: 700px;
    margin-top: 00px;
    margin-bottom: 0px;
}
#double-img {
    width: 40%;
    margin-top: 00px;
    margin-bottom: 0px;
    margin-left: 2%;
    margin-right: 2%;
}
#splash-img {
    width: 100%;
    max-width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.paragraph-center {
    margin-top: 0px;
    /* margin-bottom: 20px; */
    font-family: 'Open Sans',sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
}

.thumbnails {
    width: 60%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.thumbnail-btn {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    padding-bottom: 8px;
    border-radius: 10px;
}

.thumbnail-btn:hover   {
    background-color: #eaeaea;
}

.active-btn   {
    background-color: #d9e8ec;
}

.farm-thumbnail-row {
    display: inline-block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.farm-thumbnail-col {
    width: 14%;
}

.bear-thumbnail-row {
    display: inline-block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.bear-thumbnail-col {
    width: 25%;
}

:root {
    --opacity: 50;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#canvas-overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* opacity: var(--opacity); */
    filter: opacity(var(--opacity));
    transition-property: filter;
    transition-duration: 0.5s;
}

#main-results {
    width: 100%;
    /* margin-top: 30px; */
    margin-bottom: 0px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    overflow: hidden;
}

#main-results > div {
    height: 200px;
    background-color: red;
}

.videos {
    visibility: hidden;
    position: absolute;
    width: 1%;
}

#opacity {
    font-family: 'Open Sans',sans-serif;
    color: #3c3c3c;
    font-size: 20px;
    line-height: 20px;
}

.viewer-bar {
    width: 33.3333%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-left: 15px;
    margin-top: 5px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.video-bar {
    width: 100%;
    margin-top: -60px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    height: 40px;
}

.video-btn {
    width: 40px;
    height: 40px;
    padding: 8px 6px 8px 6px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background-color: #2196F3;
    padding-bottom: 8px;
    border-radius: 10px;
}

.video-btn:hover {
    background-color: #0b7dda;
}

.video-export {
    text-align: right;
}

#play-btn {
    border-radius: 20px;
    padding: 0px;
}

.citation {
    /* // set background color to gray; */
    background-color: #eaeaea;
    text-align: left;
    border-radius: 10px;
    padding-top: 3px;
}

.citation > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}
.citation > pre {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

.citation > p {
    margin-left: 20px;
}

#codecell0 {
    margin-bottom: 10px;
    margin-left: 10px;
    overflow-x: auto;
}

.slide-arrow {
    display: flex;
    top: 0;
    bottom: 0;
    margin-top: 35px;
    height: 4rem;
    background-color: #6dbdff;
    border: none;
    width: 5%;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 1.0;
    transition: color 100ms;
    justify-content: center;
  }
  
.slide-arrow:hover,
.slide-arrow:focus {
    background-color: #2196F3;
    opacity: 1;
}

#slide-arrow-prev {
    float: left;
    left: 0;
    margin-right: 1%;
    border-radius: 2rem 2rem 2rem 2rem;
}

#slide-arrow-next {
    float: right;
    right: 0;
    margin-left: 1%;
    border-radius: 2rem 2rem 2rem 2rem;
}

.add-top-padding {
    margin-top: 10px;
}

.video-text {
    font-size: 24px;
    margin-top: -40px;
    margin-bottom: 20px;
    color: white;
    position: relative;
    /* font-family: serif; */
}

.overlay-text {
    background-color: #00000070;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 24px;
        line-height: 20px;
    }

    .subheader {
        font-size: 16px;
    }

    .author-text {
        font-size: 12px;
    }

    .author-row {
        height: 35px;
    }

    #uc-berkeley {
        font-size: 12px;
    }

    #pipeline-img {
        width: 90%;
        max-width: 560px;
        margin-top: 20px;
        margin-right: 0px;
    }

    .thumbnail-btn {
        font-size: 8px;
    }

    .thumbnails {
        width: 100%;
        max-height: 20px;
        margin: 0px;
        padding: 0px;
    }

    .video-text {
        font-size: 3vw;
        margin-top: -8vw;
    }

    .farm-thumbnail-row {
        width: 100%;
    }
    
    .bear-thumbnail-row {
        width: 80%;
    }

    .section-header {
        font-size: 20px;
        line-height: 20px;

}